<!-- app.component.html -->
<nav class="navbar navbar-expand-lg navbar-dark mb-3" style="background:#e07a2f">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">EQUIPO BASKET</a>
  </div>
</nav>

<div class="container mb-5">
  <div class="row g-3">
    <!-- LISTA DE JUGADORES -->
    <div class="col-md-4">
      <app-players
        [players]="players"
        [activeId]="selectedPlayer?.id ?? null"
        (selected)="onSelect($event)">
      </app-players>
    </div>

    <!-- DETALLE + MEDIA -->
    <div class="col-md-8">
      <div class="card app-card p-3 h-100">
        <app-detail [player]="selectedPlayer">
          <!-- Este contenido se proyecta en <ng-content> dentro de DetailComponent -->
          <app-media [player]="selectedPlayer"></app-media>
        </app-detail>
      </div>
    </div>
  </div>
</div>
